body {
    color: #222222;
    font-size: 1.3em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.masthead-heading,
.masthead-intro {
    text-align: center;
}

.masthead {
    padding: 6em 0;
    background-image: url("images/about.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-top: solid 1em #ffc400;
}

.masthead-intro {
    color: white;
    margin-bottom: 0.1em;
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 2em;
}

.masthead-heading {
    color: #f1c863;
    margin-top: -0.2em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 6em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.introduction-section,
.location-section,
.questions-section {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.questions-section > h2 {
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.2em;
    font-weight: bold;
    margin: 2em 0 1em 0;
}

section > h1 {
    margin-top: 2em;
}

.introduction > p,
.location > p {
    font-weight: 300;
    letter-spacing: 0.05em;
}
h2 {
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.2em;
    font-weight: bold;
}

.introduction-section,
.location-section,
.questions-section {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}
