@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100&family=Ubuntu:ital,wght@0,300;1,300&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}

  html{
      font-size: 12px;
      font-family: "Ubuntu", sans-serif;
      color: #000000;
  }

  /*Anchor*/
  a {
      display: block;
      text-decoration: none;
      color: #00990a;
  }

  h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
  }

  h2 {
    font-family: "Ubuntu", sans-serif; 
    color: #00990a;
  }

  h3 {
    font-family: "Ubuntu", sans-serif;
    color: #00990a;
  }

  header{
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 4.4rem;
    background-color: #000000cc;
    backdrop-filter: blur(2rem);
  }

  body{
    background-color: #cbcbcb;
  }

  .container{
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 2rem;
    font-size: 3rem;
  }

  /*About*/
  .main-img{
    width: 100%;
    height: auto;
  }

  .content{
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 2rem;
    font-size: 1.5rem;
  }

  /*Donation*/
  .wwf{    
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border-style: outset;
    border-color: #000000;
    border-width: 7px;
  }

  /*Cubby Member*/
  .desc{
    max-width: 90rem;
    margin: 0 auto;
    margin-top: 100px;
    padding: 0 2rem;
    font-size: 1.5rem;
  }

  /*Table*/
  table{
    width:100%;
    table-layout: fixed;
  }

  .tbl-header{
    background-color: #ffffff4d;
   }

  .tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid #ffffff4d;
  }

  th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
  }

  td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-bottom: solid 1px #ffffff1a;
  }

  /*Form*/
  .reg-title{
    display: flex;
    color: #00990a;
    font-family: "Ubuntu", sans-serif;
    font-size: .8cm;
    font-weight: 500;
    justify-content: center;
  }

  .reg-form{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(180deg, #25c481, #25b7c4);
  }

  .boxinput{
    font-family: 'Roboto', sans-serif;
    width: 230px;
    margin: left;
    padding: 0rem 50rem;
  }

  .form-input {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    background-color: #ffffff;
    border: none;
    width: 100%;
    display: block;
  }

  .radio {
    margin-left: 4.3rem;
    display: flex;
  	justify-content: center;
  	align-items: center;
    background: #556cdf;
	  padding: 4px;
	  border-radius: 3px;
  }

  .radio input {
    width: 900px;
    height: 100%;
    appearance: none;
    outline: none;
    border-radius: 2px;
    padding: 4px 8px;
    background: #454857;
    color: #bdbdbdbd;
    font-size: 14px;
  }
  
  .radio input:checked {
    background-image: linear-gradient(180deg, #25c481, #25b7c4);
    color: #fff;
  }
  
  .radio input:before {
    content: attr(label);
    display: inline-block;
    text-align: center;
    width: 100%;
  }

  .subs {
    color: #ffffff;
    font-size: 14px;
    accent-color: #09ceff;
    text-align: center;
  }

  /*Link Button*/
  .nav-link-panda{
    width: 1.6rem;
    height: 4.4rem;
    background: url("https://www.svgrepo.com/show/191103/panda.svg");
  }

  .nav-list{
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 -1rem;
      padding: none;
  }

  .nav-link{
      font-size: 1.4rem;
      color: #ffffff;
      padding: 0 1rem;
      transition: opacity .5s;
  }

  .nav-link:hover{
      opacity: .7;
  }

  /*Footer*/
  footer {
    border: 0.1rem #000 solid;
    border-left: 0;
    border-right: 0;
    text-align: center;
    font-size: 2.8vh; 
    margin: 1vw 1.2vw;
  }

  .cells {
    display: inline-block;
    border-right: .22vh #000 solid;
    text-align: center;
    padding: 0vw 0.5vw;
    margin: 0.5vw;
  }

  /*Animation Texting style and properties*/
  .wrapper{
    margin-top: none;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  .wrapper .static-txts{
    color: #000000;
    font-size: 70px;
    font-weight: 400;
  }
  .wrapper .dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
  }
  .dynamic-txts li{
    list-style: none;
    color: #00990a;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
  }
  @keyframes slide{
    100%{
      top: -360px;
    }
  }
  .dynamic-txts li span{
    position: relative;
    margin: 5px 0;
    line-height: 90px;
  }
  .dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #cbcbcb;
    border-left: 2px solid #00990a;
    animation: typing 3s steps(10) infinite;
  }
  @keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
    }
  }
